/* Navbar */
.navbar {
    font-family: 'Jura', 'Inter', sans-serif;
    background: #414141;
    font-size: 18px;
}

.nav-link {
    color: #FBFBFB;
}

.navbar-brand > span {
    color: white;
    border-bottom: 4px solid #7FE29B;
    padding-bottom: 0;
}

/* Cards */
.card {
    height: 100% !important; /*TODO: figure out why this is overwritten and remove !important*/
    background-color: #414141 !important;
}


.card .card-body .card-title, .card .card-header {
    /* font size of titles*/
    font-weight: 700;
    font-size: 24px;
}

.card .card-body .card-title > .underlined-title, .card .card-header > .underlined-title {
    /* option to underline titles */
    border-bottom: 4px solid #7FE29B;
}

/* List Groups*/
.card .list-group .list-group-item {
    background-color: #414141;
    color: #FBFBFB;
    text-decoration-line: none;
}

.card .list-group .list-group-item:hover {
    text-decoration-line: underline;
}

/*Icons*/
.twitter {
    color: #1DA1F2;
}


/* Offcanvas */
.offcanvas {
    background-color: #414141 !important;
    /*height: 50% !important;*/
}


/*Forms*/
.input-group-text {
    background-color: #E3E3E3;
    border-color: #E3E3E3;
}

/* Buttons - use important to prevent overwriting */
.btn.btn-primary {
    /* grey button, black text */
    background-color: #E3E3E3 !important;
    border-color: #E3E3E3 !important;
    color: #1D1D1D !important;
}

.btn.btn-primary:hover {
    background-color: #7FE29B !important;
    border-color: #7FE29B !important;
}

.btn-check:checked + .btn {
    /* checked button on form */
    background-color: #7FE29B !important;
    border-color: #7FE29B !important;
    color: #1D1D1D !important;
}

.btn.btn-secondary {
    /* green button, black text */
    background-color: #7FE29B !important;
    border-color: #7FE29B !important;
    color: #1D1D1D !important;
    font-weight: 700 !important;
    font-family: 'Jura', 'sans-serif' !important;
}

.btn.btn-secondary:hover {
    background-color: #E3E3E3 !important;
    border-color: #E3E3E3 !important;
    color: #1D1D1D !important;
}
