/* Navbar */
.navbar {
    font-family: 'Jura', 'Inter', sans-serif;
    background: #414141;
    font-size: 18px;
}

.nav-link > span {
    color: #FBFBFB;
}

.navbar-brand > span {
    color: white;
    border-bottom: 4px solid #7FE29B;
    padding-bottom: 0px;
}

/* Cards */
.card {
    /*width: 100%;*/
    height: 100% !important; /*TODO: figure out why this is overwritten and remove !important*/
    background-color: #414141 !important;
}



.card .card-body .card-title, .card .card-header  {
    /* font size of titles*/
    font-weight: 700;
    font-size: 24px;
}

.card .card-body .card-title > .underlined-title, .card .card-header > .underlined-title{
    /* option to underline titles */
    border-bottom: 4px solid #7FE29B;
}



/* List Groups*/
.card .list-group .list-group-item {
    background-color: #414141;
    color: #FBFBFB;
    text-decoration-line: none;
}

.card .list-group .list-group-item:hover{
    text-decoration-line: underline;
}

/*Donate Button*/
.app-donate-button {
    /* dont allow donate button style to be overwritten*/
    background-color: #7FE29B !important;
    border-color: #7FE29B !important;
    color: #1D1D1D !important;
    font-family: 'Jura' !important;
    font-size: 24px !important;
    font-weight: 700 !important;
}



